.map{
    position: relative;
    z-index: 1000;
    width: 100%;
    height: 100%;
    border: 2px solid;
    background-color: transparent;
}
.leaflet-popup-content img{
    height: 1.2rem;
    width: 1.2rem;
    margin-left: 0.8rem;
}
.map-legen-marker{
    padding: 0.2rem;
}
.map-legend-title{
    text-align: center;
    font-size: 1.2rem;
    text-transform: capitalize;
}