@import "~normalize.css";
@import "./font/font.css";
:root {
  --positive: #5f7367;
  --negative: #cf534a;
  --background: #fffefc;
  --main: #032b43;
}

/* page and greed layout*/
* {
  /* background-color: var(--background); */
}

.dash-grid-layout {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "map map map table table table"
    "map map map table table table"
    "map map map table table table"
    "map map map table table table"
    "map map map chart chart chart"
    "map map map chart chart chart"
    "map map map chart chart chart"
    "map map map chart chart chart"
    "footer footer footer footer footer footer";
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(12, 0.5fr);
  grid-gap: 1rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

#header {
  grid-area: header;
}

#table {
  grid-area: table;
}

#map {
  grid-area: map;
  background-color: rgba(233, 123, 211, 0.1);
}

#chart {
  grid-area: chart;
}

#footer {
  grid-area: footer;
}

.positive {
  color: var(--positive) !important ;
}

.negative {
  color: var(--negative) !important;
}

/* title */
.header-title {
  font-family: "Abril Fatface", cursive;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  color: var(--main);
}

.sub-title {
  font-family: "Abril Fatface", cursive;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  color: var(--main);
}

.logo-block {
  display: flex;
  gap: 0.5rem;
}

.logo {
  width: 3rem;
  height: 3rem;
}

.date {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2rem;
  color: var(--main);
  text-align: left;
  margin: 0;
  padding: 0 0 0 1rem;
}

.header-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* search */
.search-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.search-field {
  height: 1.2rem;
  border: solid 1px gray;
  border-radius: 16px;
}

.search-title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
}

.search-button {
  width: 1.2rem;
  height: 1.2rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-image {
  width: 2rem;
  height: 2rem;
}

/* table */
.table {
  border-spacing: 0;
}
.table-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  max-height: 20rem;
}

.table-wrapper > div {
  max-height: 20rem;
  overflow-y: scroll;
}

.table-title-wrapper {
  gap: 2rem;
}

.table-controls {
  display: flex;
  align-items: center;
  gap: 2rem;
  line-height: 100%;
}

.control-unit {
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
}

.active {
  border-bottom-style: dashed;
}

.active-row {
  color:  blueviolet;
}

.table-controls-units-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.table-img {
  text-align: right;
}

.table-img img {
  width: 2rem;
  padding-left: 1rem;
}

.table-title {
  position: sticky;
  top: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;

  color: var(--main);
}

.table-digits {
  font-family: "Source Code Pro", monospace;
  color: var(--main);
  text-align: right;
  padding-left: 1rem;
}

.table-letters {
  font-family: "Source Sans Pro", sans-serif;
  color: var(--main);
  text-align: left;
}

.table-finish-dots {
  text-align: center;
}

.table-footer {
  display: flex;
  justify-content: space-around;
}

.table-footer-digit {
  font-family: "Source Code Pro", monospace;
  font-weight: bold;
  padding-right: 2rem;
}

.table-footer-letters {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
}

.factoid {
  font-family: "Source Code Pro", monospace;
  font-weight: 700;
}

.map-wrapper {
  margin-bottom: 1rem;
}

.chart-wrapper {
  margin-bottom: 1rem;
  background-color: rgba(233, 123, 211, 0.1);
}

/* footer */
.footer-wrapper {
  display: flex;
  gap: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
}

@media (max-width: 1510px) {
  .dash-grid-layout {
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas:
      "header header header header header header"
      "table table table table table table"
      "map map map map map map"
      "chart chart chart chart chart chart"
      "footer footer footer footer footer footer";
  }
}

@media (max-width: 1060px) {
  .header-title-wrapper {
    flex-direction: column;
    max-height: 20rem;
  }
}

@media (max-width: 840px) {
  .dash-grid-layout {
    grid-template-rows: 0.3fr 1fr 1fr 1fr 0.5fr;
  }
  .table-wrapper {
    flex-direction: column;
    max-height: 75rem;
    align-items: center;
  }

  .table-wrapper > div {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    max-width: 30rem;
  }

  .table-footer {
    display: none;
  }
}
